<div>
  <h1>Rating Example</h1>

  <!-- <alife-simple-rating-star [(options)]="options" (onRatingChanged)="OnRatingChanged($event)" [(rating)]="modelRating[index]"
    *ngFor="let r of modelRating;let index = index"></alife-simple-rating-star> -->



  <!-- <alife-simple-rating-star [(options)]="options" (onRatingChanged)="OnRatingChanged($event)" [rating]="3" ></alife-simple-rating-star> -->

  <alife-simple-rating-star [options]="{readOnly:true}" rating="2.5"></alife-simple-rating-star>
</div>